1. Напишите программу, которая печатает на экране Hello World. Убедитесь, что она работает, в консоле виден результат, нет ошибок.

In [ ]:
print('Hello World')

2. Вспоминаем базовые команды ввода-вывода. Прочитайте строку с клавиатур, например, ваше имя. Распечатайте приветствие “Hello, name”.

name=input ('Enter your name'),
print('Hello,',name)

In [ ]:
name=input ('Enter your name')
print('Hello,', name)

Enter your namegv
Hello, gv

In [ ]:
name = input('Введите свое имя')
print('Hello,', name)

Введите свое имяТаня
Hello, Таня

3. Какие типы данных вы знаете? Зачем они нужны? Можете привести пример ошибки при неправильном выборе типа данных? Можно сложить 2 (число) и “2” (строка).

In [ ]:
a = input()
b = input()
print(a+b)

6
8
68

In [ ]:
a = int(input())
b = int(input())
print(a+b)

34
6
40

54. Напишите программу, которая считает и выводит на экран последовательно (по одному значению в каждой строчке) значения следующих математических выражений: «3 в степени 5» и «-8 разделить на -4».

In [ ]:
print(3**5)

243

In [ ]:
print(-8/-4)

2.0

In [ ]:
2 == 2.0

True

5. Представьте, что у вас есть три переменные: x=0.1, y=0.2, z=0.3. Напишите программу, которая складывает эти три числа и печатает результат.

Допустим, что эти три слагаемых представляют количество центов в евро, т.е. 0.1 - это 10 евроцентов, 0.2 - это 20 евро центов. Посмотрите на сумму слагаемых. Не смущает ли вас результат? В чем именно непорядок? Каким типом данных можно представить деньги в Пайтоне, чтобы избежать наблюдаемую проблему?

In [ ]:
x = 0.1
y = 0.2
z = 0.3
print(x+y+z)

0.6000000000000001

In [ ]:
print(round(x+y+z, 1))

0.6


6. Сейчас на часах 9 часов 45 минут утра. Напишите программу, которая считает количество секунд, прошедшее с полуночи.

In [ ]:
print(9*3600+45*60)

35100

7. А если сейчас 10 часов 3 минуты утра, как изменится программа?

In [ ]:
print(10*3600+3*60)

36180

8. А если любое другое время в течение дня, как изменится программа?

In [ ]:
hour = int(input()) #
min = int(input())
print(hour*3600+min*60)

6
7
22020

9.
Выделите строки, которые одинаковы в решениях задачи 6, 7 и 8 и строки, которые отличаются. В дальнейшем вы узнаете, что писать одинаковый код - плохая практика. Повторяющийся код обычно выносят в функции, а когда надо этот код запустить - вызывают функцию по имени. Чтобы функция произвела вычисления, ей указывают параметры, то есть значения с которыми она работает (входные параметры). А чтобы узнать результат работы функции, она возвращает значение. С функциями вы уже сталкивались, например, функция pow(2, 3), где 2 и 3 - входные параметры, а возвращает она 8 (2*2*2).

10. Дан прямоугольный треугольник с катетами 3 и 4 метра. Напишите программу, которая считает длину гипотенузы.

In [ ]:

a = 3
b = 4
print(a**2+b**2)

11. Дан прямоугольный треугольник с катетами 3 и 4 метра. Напишите программу, которая считает длину гипотенузы.

In [ ]:
print('Введите катеты')
a = float(input())
b = float(input())
print(a**2+b**2)

11. Поменяйте размеры катетов в задаче 10. Выведите результат с точностью до двух знаков после запятой.

In [ ]:
print('Введите катеты')
a = float(input())
b = float(input())
print(round(a**2+b**2,2))

12. Посчитайте в уме результат выражения 10+3*(7-3)/2. Напишите программу, которая вычислит значение выражение. Проверьте себя.

In [ ]:
print(10+3*(7-3)/2)

13.  В программе вводится значение числа и сохраняется через переменную d. Необходимо продолжить эту программу. Вычислите модуль числа d и выведите результат (модуль) в консоль с помощью функции print.

In [ ]:
d = int(input())
print(abs(d))

14. Напишите текст программы для нахождения минимального значения из пяти введенных целых чисел с выводом результата в консоль (минимального значения) с помощью функции print.

In [ ]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())
e = int(input())
print(min(a,b,c,d,e))

15. Напишите текст программы для нахождения максимальных значений из пяти введенных целых чисел с выводом результата (максимального значения) в консоль с помощью функции print.

In [ ]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())
e = int(input())
print(max(a,b,c,d,e))

# Дополнительно

**1.** Вычислите 10!. Выведите на экран вычисленное значение.

Пояснение

 n!= 1\*2*3.....n

В данной задаче нужно просто перемножить значения от 1 до 10 (без использования специальных операторов)

In [ ]:
print(1*2*3*4*5)

120

In [ ]:
print(1*2*3*4*5*6*7*8*9*10)

3628800

**2.** Для подготовки к экзамену Рон каждый день учит x заклинаний, а Гермиона на y заклинаний больше. Сколько заклинаний они выучат вместе через n дней.

В первой строке вводится x – количество заклинаний, которые учит Рон.

Во второй строке y – на сколько заклинаний больше учит Гермиона.

Тест

5

12

10

Ответ

220

In [ ]:
ron = int(input())
g = int(input())
n = int(input())
print( n*(ron +(ron +g)))

5
12
10
220

**3.** На вход программе подаются два целых числа a и b. Напишите программу, которая выводит:

- сумму чисел a и b;
- разность чисел a и b;
- произведение чисел a и b;
- частное чисел a и b;
- целую часть от деления числа a на b;
- остаток от деления числа a на b;
- корень квадратный из b.

Формат входных данных

На вход программе подаются два целых числа a и b, каждое на отдельной строке.

Формат выходных данных
Программа должна вывести результаты математических операций в соответствии с условием задачи.

In [ ]:
a = int(input())
b = int(input())
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**0.5)

2
6
8
-4
12
0.3333333333333333
0
2
1.4142135623730951

In [ ]:
a = int(input())
b = int(input())
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
import math
print(math.sqrt(a))

5
6
11
-1
30
0.8333333333333334
0
5
2.23606797749979

In [ ]:
a = int(input())
b = int(input())
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
from math import sqrt
print(sqrt(a))

5
86
91
-81
430
0.05813953488372093
0
5
2.23606797749979

In [ ]:
a = int(input())
b = int(input())
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
from math import *
print(sqrt(a))

55
857
912
-802
47135
0.06417736289381563
0
55
7.416198487095663

**4.** Посчитать среднее арифметическое 4 элементов типа float

In [ ]:
a = float(input())
b = float(input())
c = float(input())
d = float(input())
print((a+b+c+d)/4)

5
4
5
7
5.25

In [ ]:
a, b, c, d = float(input()), float(input()), float(input()), float(input())
print((a+b+c+d)/4)

**5.** Запишите букву 'A' (латинскую, заглавную) 100 раз подряд. Сдайте на проверку программу, которая выводит эту строчку(только буквы, без кавычек).

Пояснение. Посмотрите как работают операторы + и * в строках

str1 = 'Hello'

str2 ='World!'

#+
print('str1 + str2 = ', str1 + str2)

# *
print('str1 * 3 =', str1 * 3)

In [ ]:
print('A'*100)

AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

**6.** На вход поступает целое число.

Программа должна вывести True, если введенное значение является положительным числом, в противном случае - False.

Сделать задачу необходимо без использования условного оператора.

In [ ]:
n = int(input())
print(n>0)

-9
False

**7.** Дано натуральное число. Выведите его последнюю цифру.

In [ ]:
n = int(input('Введите число'))
print(n%10)

Введите число587
7

**8.** Вводится вещественное число и нам нужно его округлить до 2 и 3 разряда после запятой и вывести полученный результат через пробел в одной строчке. (Примечание используйте функцию round())

In [ ]:
n = float(input())
print(round(n, 2), round(n, 3))

5.3258971
5.33 5.326

In [ ]:
n = float(input())
print(round(n, 2))
print(round(n, 3))

8.44888486
8.45
8.449

**9.** Дано трехзначное число. Найдите сумму его цифр.

In [ ]:
n = int(input())
n1 = n // 100
n2 = (n //10 )%10
n3 = n%10
print(n1+ n2+ n3)

698
23

**10.** Напишите программу, которая выводит на экран текст «I\*\*\*like***Python» (без кавычек).

Примечание. Используйте необязательный параметр sep.

In [ ]:
print('I', 'like', 'Python')

In [ ]:
print('I', 'like', 'Python', sep = '***')

I***like***Python

**11.** Напишите программу, которая находит сумму, произведение и среднее арифметическое трёх целых чисел, введённых с клавиатуры.

Входные данные

Три целых числа вводятся c новой строчки.

Выходные данные

Программа должна вывести сумму, произведение и среднее арифметическое введенных чисел. Среднее арифметическое нужно вывести с точностью 3 знака после десятичной точки.

<img src="https://github.com/trisha00001/file/blob/main/346.png?raw=true">

In [ ]:
x = int(input())
y = int(input())
z = int(input())
print("%d+%d+%d=%d" % (x, y, z, (x+y+z)))
print("%d*%d*%d=%d" % (x, y, z, (x*y*z)))
print("(%d+%d+%d)/3=%.3f" % (x, y, z, (x+y+z)/3))

5
7
4
5+7+4=16
5*7*4=140
(5+7+4)/3=5.333

In [ ]:
a = int(input())
b = int(input())
c = int(input())
print("{}+{}+{}={}".format(x, y, z, (x+y+z)))
print("{}*{}*{}={}".format(x, y, z, (x*y*z)))
print("({}+{}+{})/3={:.3f}".format(x, y, z, (x+y+z)/3))

5
4
7
5+7+4=16
5*7*4=140
(5+7+4)/3=5.333

In [ ]:
a = int(input())
b = int(input())
c = int(input())
print(f'{a}+{b}+{c}={a+b+c}')
print(f'{a}*{b}*{c}={a*b*c}')
print(f'({a}+{b}+{c})/3={(a+b+c)/3:.3f}')

4
5
7
4+5+7=16
4*5*7=140
(4+5+7)/3=5.333

**12.** Напишите программу, которая считывает строку-разделитель и три строки, а затем выводит указанные строки через разделитель. Формат входных данных На вход программе подаётся строка-разделитель и три строки, каждая на отдельной строке. Формат выходных данных Программа должна вывести введённые три строки через разделитель.

Примечание 1. Для считывания текста используйте команду input(), для печати текста на экране используйте команду print().

Примечание 2. Используйте необязательный параметр sep.


<img src="https://github.com/trisha00001/file/blob/main/3468.png?raw=true">

**13.** Напишите программу, которая считывает слово, затем выводит:

«Что Вы сказали? [это слово] ? Какое интересное слово».


<img src="https://github.com/trisha00001/file/blob/main/3455.png?raw=true">

**14.** Напишите программу, которая возводит введенное число в степень 10.

Входные данные: входная строка содержит единственное вещественное число в диапазоне от 0 до 8.

Выходные данные: следует вывести 10-ю степень полученного числа с тремя знаками в дробной части.

<img src="https://github.com/trisha00001/file/blob/main/456.png?raw=true">

**15.** Напишите программу, которая вычислит решение следующей задачи.

Товар стоит a руб. b коп. За него заплатили c руб. d коп. Сколько сдачи требуется получить?

Входные данные: вводятся 4 числа: a, b, c и d.
Выходные данные:  необходимо вывести 2 числа: e и f, число рублей и копеек, соответственно. Формат вывода: "Ваша сдача составляет e руб. f коп."
Примечание: ввод и вывод данных производятся через стандартные потоки ввода-вывода.


<img src="https://github.com/trisha00001/file/blob/main/5%D0%BA677.png?raw=true">

In [ ]:
print("\\")

\

In [ ]:
print("""kij \\
 jj""")

kij \
 jj

In [ ]:
print('I\'m girl')

I'm girl

In [ ]:
print("I'm girl")

I'm girl

In [ ]:
print("%15.5f" % 5.1234567890)

        5.12346

In [ ]:
print("%8.5f" % 5.1234567890)

 5.12346

In [ ]:
print("%8.2f" % 5.1234567890)

    5.12

In [ ]:
print("%3.5f" % 5.1234567890)

5.12346

In [ ]:
print("%.4f" % 5.1234567890)

5.1235

In [ ]:
print("%+9.4f" % 5.1234567890)

  +5.1235

In [ ]:
print("%+9.4f" % -5.1234567890)

  -5.1235

In [ ]:
print( "{1}, {0} and {1} @".format('John','Bill','Sean'))

Bill, John and Bill @

In [ ]:
print("Имена нашей команд {n3}, {n2} and {n1}".format(n1='John',n2='Bill',n3='Sean'))

Имена нашей команд Sean, Bill and John